.loading{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.exiting {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.entering {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
.entered { opacity: 1 }
.exited { opacity: 0 }
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 
@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
} 